<% unless user_signed_in? %>
  <h1 class="title">CONSUMR</h1>
<% else %>
  <div class="profile_container">
    <div class="user_info">
      <%= image_tag avatar_url(@user) %>
    </div>
    <div class="name">
      <%= @user.full_name %>
    </div>
    <% if @user == current_user %>
      <%= button_to 'Edit Profile', edit_user_registration_path(current_user), :method => :get, class: 'edit' %>
    <% else %>
      <div class="friendship_status">
        <% if Friendship.are_friends(current_user, User.find_by(id: params[:id])) %>
          <%= current_user.friendships.where(friend_id: params[:id]).first.status.capitalize %> Friends
        <% else %>
          <%= link_to "Request Friendship", friend_request_friendships_path(friend_id: params[:id]), method: :post %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="user_favorites">
    <ul class="favorites">
      <li>Favorite Movies: <span><%= @user.fav_movies %></span></li>
      <li>Favorite TV Shows: <span><%= @user.fav_tv %></span></li>
      <li>Favorite Books: <span><%= @user.fav_books %></span></li>
    </ul>
  </div>
  <div class="current_media">
    <h2 class="user_subheader">
      Current Media
      <% if @user == current_user %>
        <%= button_to 'Add Media', new_medium_path, :method => :get, class: 'new_media' %>
      <% end %>
    </h2>
    <% if @current_media.any? %>
      <ul class="current_media_list">
        <div class="cycle-slideshow"
          data-cycle-fx="scrollHorz"
          data-cycle-swipe=true
          data-cycle-timeout="0"
          data-cycle-prev="#prev"
          data-cycle-next="#next"
          data-cycle-caption="#alt-caption"
          data-cycle-caption-template="{{alt}}"
        >
        <% @current_media.each do |current| %>
          <% unless current.image_url.nil? %>
            <img src='<%= current.image_url %>' alt='<%= current.thoughts %>'>
          <% else %>
            <img src='simple_poster.jpg'>
          <% end %>
        <% end %>
        </div>
        <div id="alt-caption" class="center"></div>
        <div class="center">
          <a href=# id="prev">Prev</a> 
          <a href=# id="next">Next</a>
        </div>
      </ul>
    <% end %>
  </div>
  <div class="recommendations">
    <% if @recommendations %>
      <h2 class="user_subheader">Recommendations</h2>
      <% if @friendship %>
        <%= form_tag(new_recommendation_path(u_id: @user.id), method: :get, remote: true) do %>
          <%= submit_tag "Add", class: 'new_recommendation' %>
        <% end %>
      <% end %>
      <ul class="recent_recommendations">
        <% @recommendations.each_with_index do |r, i| %>
          <% break if i == 3 %>
          <li>
            <span><%= User.find(r.creator_id).full_name %> </span>
            <span><%= r.body %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div id="recommendations" class="recommendations"></div>
<% end %>