<div class="row">
  <div class="small-12 large-12 columns">
    <h1 class="my_friends_title">My Friends</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns">
    <div id="friend_requests">
      <h2>Friend Requests</h2>
      <% if @requests.any? %>
        <% @requests.each do |r| %>
          <%= button_to "X", reject_friendships_path(f_id: r.friend_id), method: :post, :class => "circle" %>
          <%= User.find(r.friend_id).full_name %>
          <%= link_to "Accept", accept_friendships_path(f_id: r.friend_id), method: :post %>
        <% end %>
      <% else %>
        No friend requests as of now
      <% end %>
    </div>
    <div id="pending_friends">
      <h2>Pending Friends</h2>
      <% if @pending.any? %>
        <% @pending.each do |p| %>
          <%= p.full_name %>
        <% end %>
      <% else %>
        No pending friends as of now
      <% end %>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <div id="all_friends">
      <h2>All Friends</h2>
      <ul class="all_friends_list">
        <%= render 'shared/user_profile_info', users: @friends %>
      </ul>
      <%= will_paginate @friends %>
    </div>
  </div>
</div>