<% unless user_signed_in? %>
  <h1 class="title">CONSUMR</h1>
<% else %>
  <div class="add_media_search_container">
    <h1 class="title">Add Media</h1>
    <%= form_tag(search_search_path, remote: true) do %>
      <%= select_tag(:search_category, options_for_select([['Movie', 1], ['TV Show', 2], ['Book', 3]])) %>
      <%= text_field_tag :search_item %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
  <div id="search_results" class="search_results"></div>
  <div class="new_media_form_container">
    <%= simple_form_for @medium, :url => medium_index_path do |f| %>
      <%= f.input :title, :id => "medium_title" %>
      <%= f.input :status, :collection => ["Current", "Wish List", "Finished"], :include_blank => false, :id => "status" %>
      <%= f.input :category, :collection => ["Book", "Movie", "TV Show"], :include_blank => false, :id => "category" %>
      <%= f.input :creator, :label => "Author/Director" %>
      <%= f.input :image_url %>
      <%= f.input :thoughts %>
      <%= f.button :submit, "Create Media" %>
    <% end %>
  </div>
  <div class="clear"></div>
<% end %>