<nav class='nav_primary'>
  <ul class='nav_links'>
    <% if current_user %>
      <li class='nav_link'><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'signout' %></li>
      <li class='nav_link'><%= link_to 'My Account', edit_user_registration_path(current_user) %></li>
      <li class='nav_link'><%= link_to 'My Friends', my_friends_friendships_path %></li>
      <li class='nav_link'><%= link_to 'All Users', users_path %></li>
      <li class='nav_link'><%= link_to 'Home', root_path %></li>
    <% else %>
      <li class='nav_link'><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li class='nav_link'><%= link_to 'Sign In', new_user_session_path, :class => 'signin' %></li>
    <% end %>
  </ul>
</nav>
<div class='clear'></div>